<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashborord</title>
</head>
<body>

    <div class="MySideBar">
            <a href="">Teachers</a>
            <a href="">Students</a>
            <a href="">Quitions</a>
            <a href="">Quizs</a>
            <a href="">Historique</a>
            <a href="">Logout</a>
    </div>
    
</body>
</html>